<label for="name">Name:</label>
<input type="text" id="name" name="name" value="<%= vehicle.name %>" />
<label for="brand">Brand:</label>
<input type="text" id="brand" name="brand" value="<%= vehicle.brand %>" />
<label for="model">Model:</label>
<input type="text" id="model" name="model" value="<%= vehicle.model %>" />
<label for="year">Year:</label>
<input type="text" id="year" name="year" value="<%= vehicle.year %>" />
<label for="comments">Comments:</label>
<input type="text" id="comments" name="comments" value="<%= vehicle.comments %>" />
<label for="dealershipId">Dealership Id:</label>
<input type="number" id="dealershipId" name="dealershipId" value="<%= vehicle.dealershipId %>" />

<button type="submit">
  Save
</button>
